---
layout: default
---

<div class="home">

    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <article class="post-list">
        {% for post in site.posts %}
        <header>
            <small class="post-date">{{ post.date | date: "%Y %-B %d" }}</small>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </header>
        <div class="post-content">
            {{ post.excerpt }}
        </div>

        {% endfor %}
    </article>

</div>
